[Unit]
Description=Capi services for passiv ISDN cards
After=syslog.target

[Service]
ExecStart=/usr/bin/capiinit start
ExecStop=/usr/bin/capiinit stop

[Install]
WantedBy=multi-user.target
