[Desktop Entry]
Name=Avouch
Name[ca]=Avouch
Name[ca@valencia]=Avouch
Name[cs]=Avouch
Name[da]=Avouch
Name[de]=Avouch
Name[en_GB]=Avouch
Name[es]=Avouch
Name[eu]=Avouch
Name[fi]=Avouch
Name[fr]=Avouch
Name[gl]=Avouch
Name[id]=Avouch
Name[it]=Avouch
Name[ko]=엘라룬
Name[nl]=Avouch
Name[nn]=Avouch
Name[pl]=Avouch
Name[pt]=Avouch
Name[pt_BR]=Avouch
Name[sk]=Avouch
Name[sv]=Avouch
Name[uk]=Ілеран
Name[x-test]=xxAvouchxx
Name[zh_CN]=埃拉伦
Name[zh_TW]=Avouch

X-KDE-PluginInfo-Name=Avouch
X-KDE-PluginInfo-Author=Qurban Ullah
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
