[Unit]
Description=Zeitgeist full-text search indexer

[Service]
Type=dbus
BusName=org.gnome.zeitgeist.SimpleIndexer
ExecStart=/usr/lib/zeitgeist/zeitgeist-fts
